<div id="fullscreen_bg" class="fullscreen_bg">
  <div class="profile-card" style="background-image: linear-gradient(to right, #78bfc4, #80cdc1, #94d8b9, #b1e2ae, #d4eaa5);" >
    <img src="http://placehold.it/150x150" alt="">


    <div class="name">
      <h1><%= @user.name%></h1>
    </div>

    <div class="adresse">
      <p><%= @user.email%></p>
    </div>


    <div class="card-bike">

      <div class="historique">
          <h2>Historique des réservations:</h2>
          <div class="card-product-infos">
            <!-- <div></div> -->
            <% @user.reservations.each do |reservation|%>
            <p><strong><%= reservation.bike.title %></strong></p>
            <p><%= reservation.bike.description%></p>
            <p><strong><%= reservation.bike.price%></strong></p>
            <%end%>
          </div>
      </div>
    </div>
  </div>

</div>





