<div id="fullscreen_bg" class="fullscreen_bg">
  <div class="profile-card" style="background-image: linear-gradient(to right, #78bfc4, #80cdc1, #94d8b9, #b1e2ae, #d4eaa5);" >
    <img src="http://placehold.it/150x150" alt="">


    <div class="name">
      <h1><%= @user.name%></h1>
    </div>

    <div class="adresse">
      <p><%= @user.email%></p>
    </div>


    <div class="card-bike">
      <img src="#" alt="">
      <div class="historique">
        <% @user.reservations.each do%>
        <%= @user.bike%>
        <%end%>
        <div class="card-product-infos">
          <h2><%= @bike.title%></h2>
          <p><%= @bike.description%></p>
        </div>
      </div>
    </div>
  </div>

</div>





