<h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>


<h1>Notre sélection de vélo pour vous :</h1>



<div></div>
 <% @bikes.each do |bike| %>
   <h3><%= "#{bike.title}" %></h3>
   <p>Loué par <strong><%= "#{bike.user.name}" %></strong></p>
   <h4><%= "#{bike.price}" %>€</h4>
   <p><%= "#{bike.description}" %></p>
   <p><%= "#{bike.user.localisation}" %></p>
   <label># <%= "#{bike.category}" %></label>
   <!-- Gérer l'affichage de l'icone dans le style ? -->
 <% end %>

