
 <div class="main-container">


    <div class="cards">



        <% @bikes.each do |bike| %>
        <div class="card-bike">
          <%= cl_image_tag bike.photo, height: 300, width: 400 %>
          <div class="card-bike-infos">
            <div>
              <h2><%= "#{bike.title}" %></h2>
               <p><%= "#{bike.description}" %></p>
            </div>
            <h2 class="card-bike-pricing"><%= "#{bike.price}" %>€</h2>
            <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-bike-user avatar-bordered" /> -->

          </div>

          <center><%=link_to "Voir le Produit", bike_path(bike), class: 'btn btn-lg btn-warning mx-5'%></center>
          <br>
        </div>

        <% end %>



    </div>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>



  </div>
