<h1>Bikes#new</h1>
<p>Find me in app/views/bikes/new.html.erb</p>


<h1>Make some cash - Rent your bike</h1>


    <%= simple_form_for @bike do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :category %>
        <%= f.input :motor %>
        <%= f.input :price %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>


