<h1>Bikes#search</h1>
<p>Find me in app/views/bikes/search.html.erb</p>


<%= form_with url: bikes_path, local: true, method: :get do |form| %>
  <%= form.text_field :category %>
  <%= form.text_field :motor %>
  <%= form.text_field :price %>
    <%= form.text_field :localisation %>

  <%= form.submit %>
<% end %>
