<h1>Bikes#search</h1>
<p>Find me in app/views/bikes/search.html.erb</p>


<%= form_with(url: bikes_path, local: true, method: :get) do |form| %>
  <%= select_tag(:category, options_for_select(Bike::CATEGORIES)) %>
  <%= form.check_box :motor %>
  <%= form.text_field :price %>
  <%= form.text_field :localisation %>
  <%= form.submit %>
<% end %>

