<div id="fullscreen_bg" class="fullscreen_bg" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1481106839235-a2c71e2564de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
  <div class="profil-card" >
    <div>
      <%= cl_image_tag @bike.photo, height: 300, width: 500 %>
    </div>

  <div>
    <br>
    <h2><%= "#{@bike.title}" %></h2>
    <p>Disponible à : <strong><%= "#{@bike.user.localisation}" %></strong></p>
    <p><%= "#{@bike.description}" %></p>
    <br>
    <h4 class="alert alert-secondary" role="alert"><strong>TOTAL :</strong> <%= "#{@bike.price}" %>€</h4>
    <p><light>dont <strong>4€</strong> de frais de service </light></p>
  </div>

  <%= simple_form_for [@bike, @reservation] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.date_select :date, as: :date, class: 'flatpickr' %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-warning' %>
  </div>
<% end %>

</div>
</div>






<!-- app/views/articles/show.html.erb -->



<!-- simple_form [@bike, @reservation] -->
